.Btn {
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ff6700;
  background-color: #fff;
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  transition: all 0.2s;
}

.Btn:hover {
  background-color: #ff6700;
  color: #fff;
}

.Btn:focus {
  outline: none;
}

.Delete {
  border: 2px solid #ea3c53;
}

.Delete:hover {
  background-color: #ea3c53;
  color: #fff;
}
