.BookListElement {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  max-width: 600px;
}

.BookListElement:last-of-type {
  border-bottom: none;
  margin-bottom: 2rem;
}

.BookImageWrapper {
  flex: 1;
}

.BookDescriptionWrapper {
  color: rgba(0, 0, 0, 0.8);
  flex: 4;
}

.BookDescriptionWrapper p:first-of-type {
  margin-top: 0;
}

.BookDescriptionTitle {
  font-weight: bold;
}

.BookListElement img {
  width: 110px;
  height: 170px;
  transition: all 0.3s;
}

.BookListElement img:hover {
  transform: scale(1.05);
}

.BookListElement > * {
  margin: 0 10px;
}

.OptionsDiv {
  flex: 1;
}

.OptionsDiv > * {
  margin-bottom: 20px;
}
