.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container--filled {
  margin-top: 5rem;
}

.header {
  text-transform: uppercase;
  transform: translateY(-100%);
}
